/* ===========================
   LARGE LAPTOP
=========================== */
@media (max-width: 1200px) {

    .centCont {
        grid-template-columns: 300px minmax(0, 1fr);
    }

    .leftCont {
        width: 100%;
        height: calc(100% - 30px);
        margin: auto 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .rightCont {
        height: calc(100% - 30px);
        width: calc(100% - 30px);
    }

}


/* ===========================
   TABLET
=========================== */
@media (max-width: 992px) {

    #videos {
        padding: 15px;
        gap: 8px;

        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        grid-auto-rows: 170px;
    }

    .topbar h2 {
        font-size: 18px;
    }

}

@media (max-width: 807px) {
    #videos {
        grid-auto-rows: 250px;
    }
}


/* ===========================
   SMALL TABLET
=========================== */
@media (max-width:768px) {
    .rightCont {
        height: calc(100% - 20px);
        width: calc(100% - 20px);
    }

    #menuBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 42px;
        height: 42px;
        margin-left: 10px;
        background: transparent;
        color: white;
    }

    .centCont {
        display: flex;
        height: calc(100dvh - 65px);
    }

    .filter-box {
        display: inline-flex;
        flex-direction: column;
        padding: 10px 10px;
    }

    .filter-box select {
        width: 100%;
    }

    .filter-box button {
        width: 100%;
    }

    .leftCont {
        position: fixed;
        left: -100%;
        top: 75px;
        width: 260px;
        height: calc(100% - 85px);
        z-index: 999;
        transition: .5s;
        margin: 0;
    }

    .leftCont.show {
        left: 0;
    }

    .leftInnerCont {
        max-height: none;
        overflow: visible;
    }

    #videos {
        width: 100%;
        height: auto;
        padding: 12px;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        grid-auto-rows: 300px;
    }


    #overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, .5);
        z-index: 998;
    }

    #overlay.show {
        display: block;
    }

}


/* ===========================
   MOBILE
=========================== */
@media (max-width:576px) {

    .controls {
        opacity: 1;
    }

}


/* ===========================
   VERY SMALL PHONES
=========================== */
@media (max-width:380px) {

    .topbar h2 {

        font-size: 16px;

    }

    .topbar h3 {

        font-size: 13px;

    }

}