* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "CenturyGothicLocal";
    src: url("/fonts/centurygothic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    background: #1d1d1d;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    font-family: "CenturyGothicLocal", sans-serif;
}

.login-box {
    width: 380px;
    padding: 40px;
    border-radius: 22px;

    background:#272727;

    border: 1px solid rgba(255, 255, 255, .08);

    box-shadow:
        0 10px 20px rgba(0, 0, 0, 0.253);

    backdrop-filter: blur(18px);
}

.logo {
    width: 70px;
    height: 70px;

    margin: auto;
    margin-bottom: 18px;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(135deg, #2563eb, #3b82f6);

    color: white;
    font-size: 30px;
    font-weight: bold;

    box-shadow: 0 10px 25px rgba(37, 99, 235, .4);
}

h2 {
    color: #3b82f6;
    text-align: center;
    font-size: 28px;
    margin-bottom: 8px;
}

.subtitle {
    text-align: center;
    color: #94a3b8;
    font-size: 14px;
    margin-bottom: 35px;
}

.bottomTitle {
    text-align: center;
    color: #94a3b8;
    font-size: 14px;
    margin-top: 10px;
}

.input-group {
    margin-bottom: 18px;
    position: relative;
    display: flex;
    align-items: center;
}

.input-group i {
    position: absolute;
    left: 15px;
    color: #888;
    font-size: 16px;
}

input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 12px;
    color: rgb(150, 150, 150);
    padding: 0 16px;
    padding: 12px 15px 12px 45px;
    font-size: 15px;
    transition: .25s;
}

input::placeholder {
    color: #5c5c5c;
}

input:focus {
    outline: none;
    border-color: rgb(73, 103, 250);

    box-shadow: 0 0 0 4px rgba(77, 142, 247, 0.15);
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    background: #2563eb;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    transition: .25s;
}

button:hover {
    background: #1d4ed8;
    transform: translateY(-2px);
}

button:active {
    transform: scale(.98);
}

button:disabled {
    opacity: .8;
    cursor: not-allowed;
}

.fa-spinner {
    animation: spin .8s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}